table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  border-radius: 50px;
}

td, th {
  border: 1px solid #5e5d5d;
  text-align: left;
  padding: 3px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.main{
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.form1{
  width: 500px;
  margin: auto;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(216, 191, 216, 0.301);
  backdrop-filter: blur(10px);
  padding: 20px 0px;
  box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.5);
}

.form1 input{
  width: 50%;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 7px 17px;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.4);
}

.form1 input:focus{
  box-shadow: none;
}

.form1 input[type="submit"]{
  background-color: yellowgreen;
  color: white;
  outline: none;
  border: none;
  border-radius: 8px;
  width: 30%;
  font-size: 1.5vw;
  padding: 7px 0px;
  cursor: pointer;
  transition: 0.7s;
}

.form1 input[type="submit"]:hover{
  box-shadow: none;
  transition: 0.7s;
}

.main button{
  width: 25%;
  height: 50vh;
  border-radius: 50%;
  border: none;
  background: linear-gradient(to bottom right, #02a3c7, #47f5de);
  box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.6);
  outline: none;
  font-size: 2.3vw;
  font-weight: bold;
}

.main a{
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  text-decoration: none;
  padding: 20% 10%;
  border-radius: 50%;
}

.main i{
  margin-bottom: 20px;
}

.main button:hover{
  animation: jump 0.5s forwards ease-in-out;
}

@keyframes jump{
 0%{
   transform: translateY(-50px);
 }
 25%{
  transform: translateY(0px);
 }
 50%{
  transform: translateY(-30px);
 }
 75%{
  transform: translateY(0px);
 }
 90%{
  transform: translateY(-10px);
 }
 100%{
  transform: translateY(0px);
 }
}
